<form action="" [formGroup]="form" (ngSubmit)="submit()">
  <label>Name of the group :</label>
  <input type="text" formControlName="name"> <br>
  <label>Todos to add :</label>
  <ng-container *ngIf="$todos | async as todos">
    <div *ngFor="let todo of todos " class="todo">
      <input type="checkbox"
             [id]="todo.label"
             [value]="todo.label"
             formArrayName="todos"
             (click)="getInputValue($event, todo)">
      <label [for]="todo.label">{{todo.label}}</label>
    </div>
  </ng-container>
  <button type="submit" [disabled]="!form.valid">New group</button>
</form>
