<h1>Group List!</h1>
<div *ngFor="let group of $groups | async">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
           <h2 class="red"> {{group.name}}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="card">
        <div class="mr">
          <p>group id : {{group.id}}</p>
          <h2 class="red">group name : {{group.name}}</h2>
        </div>
        <div *ngFor="let todos of group.todos" class="todo-card">
          <p class="blue">Todo n°{{todos.id}}</p>
          <p>label : {{todos.label}}</p>
          <p>description : {{todos.description}}</p>
          <p>status : {{todos.status}}</p>
          <p>limitDate : {{todos.limitDate}}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="red">Todo sans groupe</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let todo of $todos | async">
      <div class="card" *ngIf="todo.groupNames.length === 0">
        <p class="blue">Todo n°{{todo.id}}</p>
        <p>label : {{todo.label}}</p>
        <p>description : {{todo.description}}</p>
        <p>status : {{todo.status}}</p>
        <p>limitDate : {{todo.limitDate}}</p>
        <p>groupName : {{todo.groupNames}}</p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>


