.card{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
 .mr{
   margin-right: 3rem;
 }

 .red{
   color: red;
 }

 .blue{
   color: blue;
 }

 .todo-card{
   border: 1px solid green;
 }
