/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
}

.table{
  display: grid ;
  grid-template-columns: auto;
}

.mat-list-item-content{
  margin: 4rem;
}

.mat-form-field-flex {
  padding-top: 0 !important;
}

.card{
  display: flex;
  flex-direction: column;
}
